@using DominioModel.Entidades;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SAD TNE</title>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css");
    @Styles.Render("~/bundles/estilos_dependentes");   
</head>
<body style="background: white;">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">TNE SAD </span>
            </div>
            <!-- Top Menu Items -->

            <ul class="nav navbar-right top-nav">

                <!-- [WS: ALERTAS]
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-u''"></i> @ViewBag.NomeUsuario <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a id="Logout" href="../Home/Desautenticar"><i class="fa fa-fw fa-power-off"></i>Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

            @{ 
                if (ViewBag.PapelUsuario == PapelUsuario.Administrador)
                {
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Usuários <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a data-toggle="tab" href="#tabNovoUsuario" id="NovoUsuario">Novo</a>
                            </li>
                            <li>
                                <a id="ListaUsuarios">Visualizar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="ImportarDados"><i class="fa fa-fw fa-file"></i> Importar Dados</a>
                    </li>

                </ul>
            </div>
                }
                else if (ViewBag.PapelUsuario == PapelUsuario.Gestor)
                {
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Clientes <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo" class="collapse">
                                    <li>
                                        <a id="NovoCliente">Novo</a>
                                    </li>
                                    <li>
                                        <a id="ListaClientes">Visualizar</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-arrows-v"></i> SAD <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo1" class="collapse">
                                    <li>
                                        <a id="ConsultaOlap">Análise de Dados</a>
                                    </li>
                                    <li>
                                        <a id="ConsulasOlapSalvas">Análise Salva</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                }
            }
             <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper" class="tab-content" style="height:800px; margin-top:-20px">
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="bsModelCustom" tabindex="-1" role="dialog" aria-labelledby="bsModelCustomLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="bsModelCustomLabel"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalCancel">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btnModalOK">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/scripts_dependentes");
</body>
</html>

